/* ========================================================
	FOOTER
=========================================================== */

/* ========================================================
	Medium Screen +
=========================================================== */


@media screen and (min-width: $screen-width-medium) {
	.footer {
		padding-top: 10px;
		padding-bottom: 10px;
	}

}
