/* ========================================================
	Global
=========================================================== */
a {
	color: $color-link;
	text-decoration: none;
}
.faux-link {
	color: $color-link;
	text-decoration: underline;
}
a:hover {
	color: $color-link-selected;
}

body {
	font-family: 'Arial', sans-serif;
	font-family: 'Lora', Georgia, serif;
}

h1, h2, h3, h4 {
	
	font-weight: normal;
}

p {
	margin-bottom: 24px;
}


.thumbnails-default {
	list-style: none;
	margin: 0 ;
	margin-bottom: 10px;
	display: inline-block;
	&.not-first-row {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	img {
		width: 100%;
		border-radius: 2px;
		border: 1px solid #ddd;
//		@include box-shadow(0px 0px 5px 0px #ddd);;
	}
	img:hover {
		border-color: #ddd;
		@include box-shadow(0px 0px 10px 0px #bbb);
	}
	li {

	}
}

.project-description {
	
	margin-bottom: 20px;
	line-height: 1.7;
	p {
		font-size: 14px;
	}
}

.nav-pagination {
	margin: 20px 0 40px;
}

.label-list {
	margin-left: 0;
	list-style: none;
	> li {
		padding: 33px 40px;
		font-style: italic;
		font-size: 1.3em;
		line-height: 1.3;
		border: 1px solid #ddd;
		border-radius: 6px;
		background-color: #efefef;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}