/* ========================================================
	HEADER
=========================================================== */

.header-main {
	margin-top: 5px;
	
	.logo {
		font-family: 'Lora', Georgia, serif;
		font-size: 24px;
		margin: 15px 0 10px;
		float: left;
		a {
			color: $color-text;
		}
	}
	
}
.header-main-labels {
	position: relative;
	margin-bottom: 10px;
}



.nav-main-trigger {
	$hamburger-height: 4px;
	background: $color-link;
	display: block;
	height: $hamburger-height * 5;
	width: 30px;
	float: right;
	position: relative;
	margin: 17px 0 10px;
	&:before,
	&:after {
		content: '';
		height: $hamburger-height;
		width: 100%;
		position: absolute;
		display: block;
		background-color: #FFF;
	}
	&:before {
		top: $hamburger-height;
	}
	&:after {
		bottom: $hamburger-height;
	}
}

hr.nav-divider {
	margin-top: 20px;
}
.nav-utility {
	display: block;
}
.nav-main {
	background-color: rgba(0,0,0,0.07);
	$this-value: inset 0px 4px 13px -6px #999, inset 0px -4px 13px -6px #999;
	-webkit-box-shadow: $this-value;
	-moz-box-shadow: 	$this-value;
	box-shadow: 		$this-value;
	display: none;
	margin-left: -10px;
	margin-right: -10px;

	$icons-nav: sprite-map("icons-nav/*.png");
	@each $i in sprite_names($icons-nav) {
		.nav-thumb-#{$i} {
			a {
				&:before {
					@include icons-nav-sprite(#{$i});
				}
			}		
		} 
	}
	
	li {
		font-size: 18px;
		border-top: 1px solid #ddd;
		a {
			padding: 15px;
			display: block;
		}
	}

	.sub {
		display: none;
		background-color: #777;
		a {
			display: block;
			color: #fff;
		}
		> li {
			font-size: 14px;
			display: block;
		}
		.on {
			background-color: #444;
		}
	}
} // end .nav-main

.nav-utility {
	float: right;
	display: none;
	margin-top: -45px;
	> li {
		display: inline-block;
		float: right;
		font-size: 14px;
		padding-left: 30px;
	} 
} // end .nav-utility
hr.nav-divider {
	margin-top: 0;
	border-color: #ddd;
}


/* ========================================================
	Medium Screen +
=========================================================== */


@media screen and (min-width: $screen-width-medium) {
	.logo-wrapper {
		float: left;
		display: inline-block;
	}
	.nav-main-trigger {
		display: none;
	}
	.header-main-labels {
		margin-bottom: 0;
	}
	.nav-main {
		display: block;
		background-color: inherit;
		@include box-shadow(none);
		clear: both;
		> li {
			display: inline-block;
			
			font-size: 16px;
			position: relative;
			border-top: none;
		}


		.show {
			.sub {
				display: inline-block;
				z-index: 10;
			}
		}

		.sub {
			margin-left: -30px;
			> li {
				display: inline-block;
				border-top: none;
				> a {
					padding-left: 30px;
				}
			}

			display: none;
			position: absolute;
			padding: 10px 50px 30px 0px;
			margin-top: 8px;
			background-color: #fff;
			font-size: 14px;
			@include box-shadow(0 10px 21px -3px rgba(0, 0, 0, 0.2));
			@include border-radius(0 0 3px 3px);
			border: 1px solid #ddd;
			border-top-width: 0;
			z-index: 10;
			a {
				display: block;
				color: $color-link;
				&:before {
					content: "";
					float: left;
					height: 20px;
					width: 20px;
					margin-right: 8px;
					margin-top: -3px;
				}
			}
			.on {
				background-color: transparent;
				> a {
					color: $color-link-selected;
				}
			}
			img {
				display: inline-block;
				float: left;
				width: 20px;
				padding-right: 17px;
				display: none;
			}
		}
		.sub-design {
			right: 0;
			width: 300px;
		}
		.sub li {
			height: 20px;
			line-height: 20px;
			margin-top: 10px;
			white-space: nowrap;
		}
		.sub li:first-child {
			margin-top: 0;
		}
	} // end .nav-main
	hr.nav-divider {
		height: 7px;
		margin-top: 20px;
		@include box-shadow(inset 0px -6px 13px -9px #999);
	}
	h1 {
		font-size: 40px;
	}
}



/* ========================================================
	Large Screen +
=========================================================== */

@media screen and (min-width: $screen-width-large) {
	.header-main-labels {
		display: inline-block;
		float: left;
	}
	
	.nav-main {
		float: right;
		display: inline-block;
		clear: none;
		margin-top: 12px;
	}

}


