/* ==========================================================================
	 Helper classes
	 ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}


.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}
.right {
	float: right;
}

.left {
	float: left;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.no-margin-top {
	margin-top: 0;
}

.list-no-default {
	list-style: none;
	margin-left: 0;
}


.full-width {
	width: 100%;
}

.code-output {
	pre {
		height: 500px;
		overflow-y: auto;
		color: $color-text;
		b {
			font-weight: normal;
			color: #9D32C7;
		}
		.term {
			color: #E68B04;
		}
	}
}

pre {
	font-family: "Courier New", Courier, monospace;
	line-height: 1.6;
}

/* ========================================================
	Add This
=========================================================== */
.addthis_floating_style {
	right: 10px;
	a span {
		opacity: 0.6;
	}
	a span:hover {
		opacity: 1.0 ;
	}
}



.embed-container {
	position: relative;
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%; /* This will give you a 16 x 9 sized ratio */
	> iframe {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
