/* ========================================================
  Mixins
=========================================================== */

@mixin box-shadow($string) {
  -webkit-box-shadow: $string;
  -moz-box-shadow: $string;
  box-shadow: $string;
}

@mixin text-shadow($string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
  text-shadow: $string;
}

@mixin drop-shadow($x: 0, $y: 1px, $blur: 2px, $spread: 0, $alpha: 0.25) {
  -webkit-box-shadow: $x $y $blur $spread rgba(0, 0, 0, $alpha);
  -moz-box-shadow: $x $y $blur $spread rgba(0, 0, 0, $alpha);
  box-shadow: $x $y $blur $spread rgba(0, 0, 0, $alpha);
}

@mixin inner-shadow($x: 0, $y: 1px, $blur: 2px, $spread: 0, $alpha: 0.25) {
  -webkit-box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
  -moz-box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
  box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
}

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  box-sizing: $type;
}

@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

@mixin border-radiuses($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
  -webkit-border-top-right-radius: $topright;
  -webkit-border-bottom-right-radius: $bottomright;
  -webkit-border-bottom-left-radius: $bottomleft;
  -webkit-border-top-left-radius: $topleft;
  -moz-border-radius-topright: $topright;
  -moz-border-radius-bottomright: $bottomright;
  -moz-border-radius-bottomleft: $bottomleft;
  -moz-border-radius-topleft: $topleft;
  border-top-right-radius: $topright;
  border-bottom-right-radius: $bottomright;
  border-bottom-left-radius: $bottomleft;
  border-top-left-radius: $topleft;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

@mixin gradient($startColor, $endColor) {
  background: $startColor;
  background: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
  background: -webkit-linear-gradient(top, $startColor, $endColor);
  background: -moz-linear-gradient(top, $startColor, $endColor);
  background: -ms-linear-gradient(top, $startColor, $endColor);
  background: -o-linear-gradient(top, $startColor, $endColor);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$startColor', endColorstr='$endColor',GradientType=0 );

  /* IE6-9 */
}

@mixin gradient-horizontal($startColor, $endColor) {
  background-color: $startColor;
  background-image: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));
  background-image: -webkit-linear-gradient(left, $startColor, $endColor);
  background-image: -moz-linear-gradient(left, $startColor, $endColor);
  background-image: -ms-linear-gradient(left, $startColor, $endColor);
  background-image: -o-linear-gradient(left, $startColor, $endColor);
}

@mixin box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin keyframe($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }

  @-moz-keyframes #{$animationName} {
    @content;
  }

  @-ms-keyframes #{$animationName} {
    @content;
  }

  @-o-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation($delay, $duration, $animation, $iteration-count, $direction: forward, $fillmode: fowards) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-iteration-count: $iteration-count;
  -webkit-animation-fill-mode: $fillmode;
  -webkit-animation-direction: $direction;
  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-iteration-count: $iteration-count;
  -moz-animation-fill-mode: $fillmode;
  -moz-animation-direction: $direction;
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-iteration-count: $iteration-count;
  animation-fill-mode: $fillmode;
  animation-direction: $direction;
}

@mixin animation-delay($delay) {
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -o-animation-delay: $delay;
  -ms-animation-delay: $delay;
  animation-delay: $delay;
}

@mixin animation-duration($duration) {
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -o-animation-duration: $duration;
  -ms-animation-duration: $duration;
  animation-duration: $duration;
}

@mixin animation-name($name) {
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  -o-animation-name: $name;
  -ms-animation-name: $name;
  animation-name: $name;
}

@mixin animation-iteration-count($iteration-count) {
  -webkit-animation-iteration-count: $iteration-count;
  -moz-animation-iteration-count: $iteration-count;
  -o-animation-iteration-count: $iteration-count;
  -ms-animation-iteration-count: $iteration-count;
  animation-iteration-count: $iteration-count;
}

@mixin cinemagraph-animation-frames-thumb($frame_total) {
  &[frames="#{$frame_total}"] {
    $percent_wider_than_original: unquote($frame_total * 100 + "%");
    $animation_duration: unquote($frame_total * 2 + "s");

    .frame {
      background-size: $percent_wider_than_original;
    }

    @for $i from 2 through $frame_total {
      // Figure out % based on usable frames (don't count the first one)
      $percent_of_width: unquote(($i - 1) / ($frame_total - 1) * 100 + "%");

      .frame.frame-#{$i} {
        background-position-x: $percent_of_width;

        @include animation(0s, $animation_duration, cinemagraph-#{$i}-of-#{$frame_total}, infinite, ease-in-out);
      }
    }
  }
}

@mixin cinemagraph-animation-frames-main($frame_total, $speed) {
  &[frames="#{$frame_total}"] {
    $animation_duration: unquote($frame_total * $speed + "s");

    @for $i from 2 through $frame_total {
      // Figure out % based on usable frames (don't count the first one)
      .frame-#{$i} {
        @include animation(0s, $animation_duration, cinemagraph-#{$i}-of-#{$frame_total}, infinite, ease-in-out);
      }
    }
  }
}

@-webkit-keyframes move {
  from {
    transform: scale(0.9);
    -ms-transform: scale(0.9);

    /* IE 9 */
    -webkit-transform: scale(0.9);

    /* Safari and Chrome */
    -o-transform: scale(0.9);

    /* Opera */
    -moz-transform: scale(0.9);

    /* Firefox */
  }

  to {
    transform: scale(1);
    -ms-transform: scale(1);

    /* IE 9 */
    -webkit-transform: scale(1);

    /* Safari and Chrome */
    -o-transform: scale(1);

    /* Opera */
    -moz-transform: scale(1);

    /* Firefox */
  }
}