// COLORS
$color-lines: 			#eee;
$color-lines-2: 		#bbb;
$color-link: 			#52c3db;
$color-link-selected: 	#fb7800;
$color-text: 			#404040;



// SCREEN SIZES
$screen-width-medium: 	768px;
$screen-width-large: 	960px;
$screen-width-x-large: 	1200px;