@import "compass/utilities/sprites";
// @import "icons-main/*.png";
@import "icons-nav/*.png";
@import "mixins";

// @include all-icons-main-sprites;



$color-lines: #eee;
$color-link: #52c3db;
$color-link-selected: #750067;







/* ==========================================================================
	 Table of Contents
		- Helper classes
		- Fonts
		- Global
		- Home
		- Inspirational Streetwise

	 ========================================================================== */


/* ==========================================================================
	 Helper classes
	 ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}


.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}
.right {
	float: right;
}

.left {
	float: left;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.no-margin-top {
	margin-top: 0;
}

.list-no-default {
	list-style: none;
	margin-left: 0;
}







/* ========================================================
	Global
=========================================================== */
a {
	color: $color-link;
	text-decoration: none;
}
.faux-link {
	color: $color-link;
	text-decoration: underline;
}
a:hover {
	color: $color-link-selected;
}

body {
	font-family: 'Rosario', Helvetica, sans-serif;
	font-family: 'Lora', Georgia, serif;
}

h1, h2, h3, h4 {
	font-weight: normal;
}

.hd {
	
}

.container {
	a, li {
		// line-height: inherit;
	}
}

.header-main {
	margin-top: 5px;
	
	.logo {
		font-size: 20px;
		margin: 15px 0 10px;
		a {
			color: #404040;;
		}
	}

	
	.on > a {
		color: $color-link-selected;
	}

	
}

/* ========================================================
	Home
=========================================================== */
.p-home {
	.header-main {
		margin-top: 25px;

		.logo {
			font-size: 30px;
			margin-bottom: 30px;


		}
	}
	.nav-main {
		// float: left;
		margin-top: -52px;
		// margin-bottom: 15px;
		> li {
			font-size: 16px;
			padding: 0 30px 25px 0;
		}
		
		.sub {
			// margin-top: 28px;
			// display: block;
		}
	}
	hr.nav-divider {
		margin-top: -3px;
	}
	// .nav-utility {
	//	display: block;
	// }
}

.nav-main {
	display: none;
	float: right;
	margin-top: -29px;
	> li {
		display: inline-block;
		float: left;
		font-size: 16px;
		padding: 0 0 25px 30px;
		position: relative;
	}

	// Build styles for each icon in the "icons-nav" folder.
	$icons-nav: sprite-map("icons-nav/*.png");
	@each $i in sprite_names($icons-nav) {
		.nav-thumb-#{$i} {
			a {
				&:before {
					@include icons-nav-sprite(#{$i});
				}
			}		
		} 
	}


	.show {
		// > a {
		// 	color: #404040;
		// }
		.sub {
			display: inline-block;
			z-index: 10;
		}
	}
	.sub {
		display: none;
		// display: inline-block;
		position: absolute;
		border: 1px solid #ddd;
		border-top-width: 0;
		padding: 0 30px 25px;
		margin-left: -30px;
		margin-top: 25px;
		background: #fff;
		font-size: 14px;
		@include box-shadow(0 10px 21px -3px rgba(0, 0, 0, 0.2));
		@include border-radius(0 0 3px 3px);
		a {
			display: block;
			&:before {
				content: "";
				float: left;
				// background: url('/_lib/images/icons-main-s3cb6a110ee.png') no-repeat;
				height: 20px;
				width: 20px;
				margin-right: 8px;
				margin-top: -3px;
				border: 1px solid #ddd;
			}
		}
		.on {
			a {
				&:before,
				&:before:hover {
					border-color: #9d5899;
				}
			}
		}
		img {
			display: inline-block;
			float: left;
			width: 20px;
			padding-right: 17px;
			display: none;
		}
	}
	.sub-design {
		right: 0;
		width: 300px;
	}
	.sub li {
		height: 20px;
		line-height: 20px;
		margin-top: 10px;
		white-space: nowrap;
		width: 220px;
		display: inline-block;
	}
	.sub li:first-child {
		margin-top: 0;
	}
} // end .nav-main

.nav-utility {
	float: right;
	display: none;
	margin-top: -45px;
	> li {
		display: inline-block;
		float: right;
		font-size: 14px;
		padding-left: 30px;
	} 
} // end .nav-utility
hr.nav-divider {
	margin-top: 0;
	border-color: #ddd;
}

/* ========================================================
	Global
=========================================================== */
.thumbnails-default {
	list-style: none;
	margin: 0 ;
	margin-bottom: 30px;
	display: inline-block;
	img {
		width: 100%;
		border-radius: 5px;
		border: 10px solid $color-lines;
		@include box-sizing();
	}
	img:hover {
		border-color: #ddd;
	}
	li {

	}
}

.code-output {



	pre {
		height: 500px;
		overflow-y: auto;
		color: #404040;
		b {
			font-weight: normal;
			color: #9D32C7;
		}
		.term {
			color: #E68B04;
		}
		// background: #666;
		// color: #eee;
		// font-weight: bold;
		// font-size: 14px;
	}
}

pre {
	font-family: "Courier New", Courier, monospace;
	line-height: 1.6;
}






/* ========================================================
	Add This
=========================================================== */
.addthis_floating_style {
	right: 10px;
	a span {
		opacity: 0.6;
	}
	a span:hover {
		opacity: 1.0 ;
	}
}


/* ========================================================
	Inspirational Streetwise
=========================================================== */


.p-inspirational-streetwise-magazine-vendor {

	// header { /* Need header twice or bug in small glass */
	//	margin: 15px 0;
	// }
	// header {
	//	padding: 15px 10px 0;
	// }
	// a {
	//	color: #006de8;
	// }
	// a:hover {
	//	text-decoration: none;
	// }
	h1 {
		font-size: 22px;
		font-family: 'Lora', Georgia, serif;
		line-height: 1.2;
		margin-bottom: 5px;
		span {
			white-space: nowrap;
		}
	}
	h2 {
		font-size: 18px;
		line-height: 1.3;
		font-family: 'Lora', Georgia, serif;
		font-style: italic;
		font-weight: normal;
		color: #999;
	}

	
} // .p-inspirational-streetwise


.p-inspirational-streetwise-magazine-vendor-json {
	.update-json-cta {
		margin-bottom: 5px;
		margin-left: 10px;
	}
} // .p-inspirational-streetwise-json


/* ========================================================
	Internet Conversations
=========================================================== */
.email-list {
	color: #000;
	font-family: Helvetica, sans-serif;
	background: #ddd;
	padding: 30px;
	
	.item {
		position: relative;
		
		z-index: 1;
		margin-bottom: 35px;
		&:before, &:after {
			content: "";
			position: absolute;
			z-index: -1;
			-ms-transform: skew(-3deg,-2deg);
			-webkit-transform: skew(-3deg,-2deg); /* Safari and Chrome */
			-o-transform: skew(-3deg,-2deg); /* Opera */
			-moz-transform: skew(-3deg,-2deg); /* Firefox */
			bottom: 14px;
			box-shadow: 0 15px 5px rgba(0, 0, 0, 0.3);
			height: 50px;
			left: 10px;
			max-width: 50%;
			width: 50%;
		}
		&:after {
			-ms-transform: skew(3deg,2deg); /* IE 9 */
			-webkit-transform: skew(3deg,2deg); /* Safari and Chrome */
			-o-transform: skew(3deg,2deg); /* Opera */
			-moz-transform: skew(3deg,2deg); /* Firefox */
			left: auto;
			right: 10px;
		}
		.item-content {
			padding: 20px 30px 30px;
			background: #fff;
		}


	}
	.email-item {
		box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
		-o-box-shadow: 0px 0px 1px 1px  rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 0px 1px 1px  rgba(0,0,0,0.2);
		line-height: 1.5em;
		p:last-child {
			margin-bottom: 0;
		}
		.email-content {
			padding: 20px 30px 30px;
			background: #fff;
		}
	}
	.email-header {
		border-bottom: 1px solid #ccc;
		padding-bottom: 15px;
		margin-bottom: 30px;
		font-size: 14px;
		line-height: 20px;
	}
	.email-from {
		font-weight: bold;
	}
	.email-to,
	.email-date {
		color: #888;
	}
	.new-group {
		margin-top: 160px;
	}
	
		
}

.craigslist-item {
	font-family: Times,serif;
	border: 3px solid #ccc;
	a, .faux-link {
		color: #00F;
		text-decoration: underline;
	}
	button {
		height: 18px;
		font-size: 11px;
		line-height: 6px;
	}
	.main-image img {
		max-width: 400px;
	}
	#pagecontainer {
		overflow: hidden;
	}
	#pagecontainer > header,
	.post .posting > header,
	footer {
	    line-height: 1em;
	    min-height: 1.1em;
	    background: #eee;
	    padding: 5px 0;
	    font-family: sans-serif;
	}
	#pagecontainer > header {
	    margin-bottom: 1em;
	    border-bottom: 1px #ccc solid;
	}
	#pagecontainer > header .contents {
	 
	    margin: 0 auto;
	    position: relative;
	    min-height: 24px;
	    line-height: 24px;
	    padding: 0 8px;
	}
	#pagecontainer header .crumb {
	    margin-right: 5px;
	}
	.mapAndAttrs {
		float: right;
		img {
			width: 280px;
		}
	}
	.postingtitle {
		font-weight: bold;
		font-weight: 22px;
	}
	.mapaddress {
		font-size: 13px;
		margin-top: 5px;
	}
	.blurbs {
		font-size: 13px;
		margin-top: 30px;
		li {
			line-height: 16px;
		}
		
	}


}

.p-miami-fiance {
	.columns img {
		width: 100%;
	}
}



/* ========================================================
	Inspirational Streetwise
=========================================================== */
.audio-soundboard-long {
	.transcripts-all-show,
	.transcripts-all-hide {
		font-size: 11px;
		line-height: 1;
		margin-top: 10px;
	}
	.transcripts-all-hide {
		margin-left: 10px;
	}
	.audio-container {
		ul { 
			list-style-type: none;
			margin-left: 0;
		}
		.item {
			display: block;
			margin-bottom: 10px;
			border-radius: 5px;
			padding: 10px 15px;
			@include gradient(#eee, #ddd);
			border: 1px solid #ddd;
		}
		.title {
			color: #222;
			float: left;
			font-size: 20px;
			line-height: 1.3;
			font-family: 'Lora', Georgia, serif;
			font-style: italic;
			font-weight: normal;
		}
		.date {
			font-size: 11px;
			display: block;
			color: #999;
		}
		.duration {
			float: right;
			font-size: 14px;
			line-height: 20px;
			color: #999;
		}
		p.transcript-trigger {
			font-family: Arial;
			font-size: 11px;
			line-height: 1;
			a {
				color: #0C788F;
			}
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;

			}
		}
		.transcript {
			font-family: Georgia;
			display: none;
			padding-top: 8px;
			p.transcript-content {
				font-size: 14px;
				line-height: 1.8;
			}
			
			
		}
		audio {
			width: 100%;
			height: 30px; /* Or FF adjust's heigh in proportion to 100% width */
			display: block;
			margin: 10px 0;
		}
		.played {
			border: 1px solid #bee48e;
			@include gradient(#d8eea6, #cee9a2);
			&.playing {
				border: 1px solid #309811;
				color: #000;
				@include box-shadow(0px 0px 10px 0px #A9C128);
				@include gradient(#b6e026, #7dcb18);
				.title {
					color: #111;
				}
				span {
					color: #555;
				}
			}
		} // .played
	} // .audio-container
}


/* ========================================================
	Medium Screen +
=========================================================== */


@media screen and (min-width: 768px) {

	.nav-main {
		display: block;
	}
	h1 {
		font-size: 40px;
	}

	.p-inspirational-streetwise-magazine-vendor {
		// header {
		//	margin: 20px 0;
		//	padding: 0;
		// }
		h1 {
			font-size: 34px;
		}
		h2 {
			font-size: 22px;
		}
		.portrait {
			width: 90%;
			margin-bottom: 0;
			margin-top: -7px;
		}
		.audio-container {
			.date  span {
				display: none;
			}
			.title {
				font-size: 14px;
			}
			.item {
				margin-bottom: 20px;
			}
		} // .audio-container
	} // .p-inspirational-streetwise
} //@media


/* ========================================================
	Large Screen +
=========================================================== */
.nav-main {
	> li {
		font-size: 16px;
	}
}

@media screen and (min-width: 960px) {
	.p-inspirational-streetwise-magazine-vendor {
		// h1 {
		//	margin: 15px 0 5px;
		// }
		.audio-container {
			.date  span {
				display: inline-block;
			}
			.title {
				font-size: 20px;
			}
		} // .audio-container
	} // .p-inspirational-streetwise
} //@media


/* ========================================================
	X-Large Screen +
=========================================================== */


@media screen and (min-width: 1200px) {
	.p-inspirational-streetwise-magazine-vendor {
		h1 {
			margin: 20px 0 10px;
			font-size: 40px;
		}
		.audio-container {
			.item {
				margin-bottom: 30px;
				margin-right: 10px;
			}
		} // .audio-container
	} // .p-inspirational-streetwise
} //@media







