/* ========================================================
  Animate Found Photos
=========================================================== */
$transition-speed-men: 5s;

// woman in background
@mixin zoom-men-in-car-by-house-woman {
  height: 250vh;
  transform: translate(0vh, -110vh);
}

@mixin zoom-men-in-car-by-house-woman-portrait {
  width: 200vw;
  transform: translate(-3vw, -37vw);
}

// Men in car
@mixin zoom-men-in-car-by-house-men {
  height: 230vh;
  transform: translate(-130vh, -110vh);
}

@mixin zoom-men-in-car-by-house-men-portrait {
  width: 240vw;
  transform: translate(-105vw, -55vw);
}

@mixin zoom-men-in-car-by-house-no-zoom {
  // No zoom
  height: 90vh;
  transform: translate(0, 0);
}

@mixin zoom-men-in-car-by-house-no-zoom-portrait {
  width: 100%;
  transform: translate(0, 0);

  img {
    width: inherit !important;
  }
}

@mixin transition-photo-zoom($speed) {
  transition-property: width,  margin-top, margin-left;
  transition-duration: $speed, $speed, $speed;
  transition-timing-function: ease-in-out;
}

.cinemagraph-thumb {
  display: block;
  height: 0;
  padding-bottom: 99%;
  margin-top: 10px;
  width: 100%;
  position: relative;
  background-color: #eee;

  .frame {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;

    &:not(:first-child) {
      opacity: 0;
    }
  }

  @include cinemagraph-animation-frames-thumb(2);
  @include cinemagraph-animation-frames-thumb(3);
  @include cinemagraph-animation-frames-thumb(4);
  @include cinemagraph-animation-frames-thumb(5);
  @include cinemagraph-animation-frames-thumb(6);
}

.p-animate-found-photos {
  .thumbnails-default {
    width: 100%;
    display: block;
  }

  .two.thumb-wrapper {
    width: 100%;
    display: block;
  }
}

.animate-found-photos {
  // width: 500px;

  overflow: hidden;

  .cinemagraph-frame {
    display: block;
    width: 100%;
    border: 1px solid;
  }

  .photo-container {
    overflow: hidden;
    width: 96vw;
  }

  .photos {
    position: relative;
    width: calc(100vw - 30px);
    margin-top: 0;
    margin-left: 0;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: contain;
      object-position: 0 0;
      margin-top: 20px;

      &:not(:first-child) {
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    &.men-in-car-by-house {
      // @include zoom-men-in-car-by-house-woman;
      // @include zoom-men-in-car-by-house-men;
      // @include zoom-men-in-car-by-house-no-zoom;

      @media (orientation: landscape) {
        width: 1000vw;

        @include animation(0s, 30s, zoom-men-in-car-by-house, infinite, ease-in-out);

        img {
          width: auto;
          height: 100%;
        }
      }

      @media (orientation: portrait) {
        @include animation(0s, 30s, zoom-men-in-car-by-house-portrait, infinite, ease-in-out);

        img {
          height: 100%;
        }
      }
    }

    $speed-fast: 0.3;
    $speed-medium: 0.8;
    $speed-slow: 1.3;
    $frame-total-available: 6;

    // SLOW
    @for $i from 2 through $frame-total-available {
      &[speed="slow"] {
        @include cinemagraph-animation-frames-main($i, $speed-slow);
      }
    }

    // MEDIUM
    @for $i from 2 through $frame-total-available {
      &[speed="medium"] {
        @include cinemagraph-animation-frames-main($i, $speed-medium);
      }
    }

    // FAST
    @for $i from 2 through $frame-total-available {
      &[speed="fast"] {
        @include cinemagraph-animation-frames-main($i, $speed-fast);
      }
    }
  }
}

// 2 frames
@include keyframe(cinemagraph-2-of-2) {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


// 3 frames
@include keyframe(cinemagraph-2-of-3) {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 1;
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


@include keyframe(cinemagraph-3-of-3) {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 0;
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


// 4 frames
@include keyframe(cinemagraph-2-of-4) {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}


@include keyframe(cinemagraph-3-of-4) {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


@include keyframe(cinemagraph-4-of-4) {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


// 5 frames
@include keyframe(cinemagraph-2-of-5) {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}


@include keyframe(cinemagraph-3-of-5) {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}


@include keyframe(cinemagraph-4-of-5) {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


@include keyframe(cinemagraph-5-of-5) {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


// 6 frames
@include keyframe(cinemagraph-2-of-6) {
  0% {
    opacity: 0;
  }

  16.6666% {
    opacity: 1;
  }

  33.3333% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  66.6666% {
    opacity: 0;
  }

  83.3333% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}


@include keyframe(cinemagraph-3-of-6) {
  0% {
    opacity: 0;
  }

  16.6666% {
    opacity: 0;
  }

  33.3333% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  66.6666% {
    opacity: 0;
  }

  83.3333% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}


@include keyframe(cinemagraph-4-of-6) {
  0% {
    opacity: 0;
  }

  16.6666% {
    opacity: 0;
  }

  33.3333% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  66.6666% {
    opacity: 1;
  }

  83.3333% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}


@include keyframe(cinemagraph-5-of-6) {
  0% {
    opacity: 0;
  }

  16.6666% {
    opacity: 0;
  }

  33.3333% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  66.6666% {
    opacity: 1;
  }

  83.3333% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


@include keyframe(cinemagraph-6-of-6) {
  0% {
    opacity: 0;
  }

  16.6666% {
    opacity: 0;
  }

  33.3333% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  66.6666% {
    opacity: 0;
  }

  83.3333% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


// 4 frames

@include keyframe(zoom-men-in-car-by-house) {
  // No Zoom
  0% {
    @include zoom-men-in-car-by-house-no-zoom;
  }

  10% {
    @include zoom-men-in-car-by-house-no-zoom;
  }

  // Men

  33% {
    @include zoom-men-in-car-by-house-men;
  }

  38% {
    @include zoom-men-in-car-by-house-men;
  }

  // Woman

  54% {
    @include zoom-men-in-car-by-house-woman;
  }

  65% {
    @include zoom-men-in-car-by-house-woman;
  }

  // No Zoom
  80% {
    @include zoom-men-in-car-by-house-no-zoom;
  }

  100% {
    @include zoom-men-in-car-by-house-no-zoom;
  }
}


@include keyframe(zoom-men-in-car-by-house-portrait) {
  // No Zoom
  0% {
    @include zoom-men-in-car-by-house-no-zoom-portrait;
  }

  10% {
    @include zoom-men-in-car-by-house-no-zoom-portrait;
  }

  // Men

  33% {
    @include zoom-men-in-car-by-house-men-portrait;
  }

  38% {
    @include zoom-men-in-car-by-house-men-portrait;
  }

  // Woman

  54% {
    @include zoom-men-in-car-by-house-woman-portrait;
  }

  65% {
    @include zoom-men-in-car-by-house-woman-portrait;
  }

  // No Zoom
  80% {
    @include zoom-men-in-car-by-house-no-zoom-portrait;
  }

  100% {
    @include zoom-men-in-car-by-house-no-zoom-portrait;
  }
}


/* ========================================================
  Animations
=========================================================== */
@-webkit-keyframes rotate-block {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}