/* ========================================================
	Circus Wagon Wheels
=========================================================== */

.p-home .circus-wagon-wheels-thumbnail {
	-webkit-animation: infinite rotate-block 7s;
	-webkit-animation-timing-function: linear;
	border: none;
	@include border-radius(100%);
	&:hover {
		border: none;
		box-shadow: none;
	}
}
.p-circus-wagon-wheels {
	 .fancybox-overlay .fancybox-image,
	 .thumb-wrapper img {
		-webkit-animation: infinite rotate-block 7s;
		-webkit-animation-timing-function: linear;
		border: none;
		@include border-radius(100%);
		&:hover {
			border: none;
			box-shadow: none;
		}
	}	
	.fancybox-overlay .fancybox-image {
		-webkit-animation: infinite rotate-block 12s;
	}
}