/* ========================================================
  Food Dislike Descriotions
=========================================================== */

.p-disliked-food-descriptions {
	.desc-list {
		text-align: center;
		dt, dd {
			margin: 0;
		}
		
		.food {
			font-size: 16px;
		    margin-bottom: 4%;
		    margin-top: 20%;
		    font-weight: bold;
		    background-color: #aaa;
		    color: #fff;
		    border-radius: 5px;
		    padding: 7px 20px;
		    display: inline-block;
		    min-width: 200px;
		}
		.desc {
			    font-style: italic;
			    font-size: 24px;
			    line-height: 1.5;
			&:before {
				content: "“";
			}
			&:after {
				content: "”";
			}
		}
		.context {
			font-size: 12px;
			+ .desc {
				margin-top: 8%;
			}
		}
		.anchovies {
			background-color: #958377;
		}
		.beer {
			background-color: #ffcc00;
		}
		.beets {
			background-color: #9e4264;
		}
		.boiled-vegetables {
		//	background-color: #;
		}
		.brie {
			background-color: #ebe6d4;
		}
		.brussel-sprouts {
			background-color: #8fa024;
		}
		.cilantro {
			background-color: #418f1a;
		}
		.coffee {
			background-color: #160506;
		}
		.cottage-cheese {
		//	background-color: #;
		}
		.cucumber {
			background-color: #73AF59;
		}
		.good-n-plentys {
			background-color: #932f8b;
		}
		.hot-dogs {
			background-color: #b26046;
		}
		.malort {
			background-color: #b3711a;
		}
		.mushrooms {
			background-color: #d5ccc3;
		}
		.mussels {
			background-color: #95979c;
		}
		.olives {
			background-color: #544035;
		}
		.onions {
			background-color: #f2ae55;
		}
		.peas {
			background-color: #739122;
		}
		.potatoes {
			background-color: #a07858;
		}
		.pizza {
			background-color: #a22723;
		}
		.raisins {
			background-color: #55260d;
		}
		.ranch {
		//	background-color: #;
		}
		.seafood {
			background-color: #ae5537;
		}
		.steak {
			background-color: #6f4f3f;
		}
		.sour-cream {
		//	background-color: #;
		}
		.watermelon {
			background-color: #fc6c85;
		}

	}
}