/* ========================================================
	Inspirational Streetwise
=========================================================== */


.p-inspirational-streetwise-magazine-vendor {

	// header { /* Need header twice or bug in small glass */
	//	margin: 15px 0;
	// }
	// header {
	//	padding: 15px 10px 0;
	// }
	// a {
	//	color: #006de8;
	// }
	// a:hover {
	//	text-decoration: none;
	// }
	h1 {
		font-size: 22px;
		font-family: 'Lora', Georgia, serif;
		line-height: 1.2;
		margin-bottom: 5px;
		span {
			white-space: nowrap;
		}
	}
	h2 {
		font-size: 18px;
		line-height: 1.3;
		font-family: 'Lora', Georgia, serif;
		font-style: italic;
		font-weight: normal;
		color: #999;
	}

	
} // .p-inspirational-streetwise


.p-inspirational-streetwise-magazine-vendor-json {
	.update-json-cta {
		margin-bottom: 5px;
		margin-left: 10px;
	}
} // .p-inspirational-streetwise-json


/* ========================================================
	Inspirational Streetwise
=========================================================== */
.audio-soundboard-long {
	.transcripts-all-show,
	.transcripts-all-hide {
		font-size: 11px;
		line-height: 1;
		margin-top: 10px;
	}
	.transcripts-all-hide {
		margin-left: 10px;
	}
	.audio-container {
		ul { 
			list-style-type: none;
			margin-left: 0;
		}
		.item {
			display: block;
			margin-bottom: 10px;
			border-radius: 5px;
			padding: 10px 15px;
			@include gradient(#eee, #ddd);
			border: 1px solid #ddd;
		}
		.title {
			color: #222;
			float: left;
			font-size: 20px;
			line-height: 1.3;
			font-family: 'Lora', Georgia, serif;
			font-style: italic;
			font-weight: normal;
		}
		.date {
			font-size: 11px;
			display: block;
			color: #999;
		}
		.duration {
			float: right;
			font-size: 14px;
			line-height: 20px;
			color: #999;
		}
		p.transcript-trigger {
			font-family: Arial;
			font-size: 11px;
			line-height: 1;
			a {
				color: #0C788F;
			}
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;

			}
		}
		.transcript {
			font-family: Georgia;
			display: none;
			padding-top: 8px;
			p.transcript-content {
				font-size: 14px;
				line-height: 1.8;
			}
			
			
		}
		audio {
			width: 100%;
			height: 30px; /* Or FF adjust's heigh in proportion to 100% width */
			display: block;
			margin: 10px 0;
		}
		.played {
			border: 1px solid #bee48e;
			@include gradient(#d8eea6, #cee9a2);
			&.playing {
				border: 1px solid #309811;
				color: #000;
				@include box-shadow(0px 0px 10px 0px #A9C128);
				@include gradient(#b6e026, #7dcb18);
				.title {
					color: #111;
				}
				span {
					color: #555;
				}
			}
		} // .played
	} // .audio-container
}


/* ========================================================
	Medium Screen +
=========================================================== */


@media screen and (min-width: $screen-width-medium) {
	

	.p-inspirational-streetwise-magazine-vendor {
		// header {
		//	margin: 20px 0;
		//	padding: 0;
		// }
		h1 {
			font-size: 34px;
		}
		h2 {
			font-size: 22px;
		}
		.portrait {
			width: 90%;
			margin-bottom: 0;
			margin-top: -7px;
		}
		.audio-container {
			.date  span {
				display: none;
			}
			.title {
				font-size: 14px;
			}
			.item {
				margin-bottom: 20px;
			}
		} // .audio-container
	} // .p-inspirational-streetwise
} //@media


/* ========================================================
	Large Screen +
=========================================================== */


@media screen and (min-width: $screen-width-large) {
	
	.p-inspirational-streetwise-magazine-vendor {
		// h1 {
		//	margin: 15px 0 5px;
		// }
		.audio-container {
			.date  span {
				display: inline-block;
			}
			.title {
				font-size: 20px;
			}
		} // .audio-container
	} // .p-inspirational-streetwise
} //@media


/* ========================================================
	X-Large Screen +
=========================================================== */


@media screen and (min-width: $screen-width-x-large) {
	.p-inspirational-streetwise-magazine-vendor {
		h1 {
			margin: 20px 0 10px;
			font-size: 40px;
		}
		.audio-container {
			.item {
				margin-bottom: 30px;
				margin-right: 10px;
			}
		} // .audio-container
	} // .p-inspirational-streetwise
} //@media