/* ========================================================
	Internet Conversations
=========================================================== */
.email-list {
	color: #000;
	font-family: Helvetica, sans-serif;
	background: #ddd;
	padding: 30px;
	
	.item {
		position: relative;
		
		z-index: 1;
		margin-bottom: 35px;
		&:before, &:after {
			content: "";
			position: absolute;
			z-index: -1;
			-ms-transform: skew(-3deg,-2deg);
			-webkit-transform: skew(-3deg,-2deg); /* Safari and Chrome */
			-o-transform: skew(-3deg,-2deg); /* Opera */
			-moz-transform: skew(-3deg,-2deg); /* Firefox */
			bottom: 14px;
			box-shadow: 0 15px 5px rgba(0, 0, 0, 0.3);
			height: 50px;
			left: 10px;
			max-width: 50%;
			width: 50%;
		}
		&:after {
			-ms-transform: skew(3deg,2deg); /* IE 9 */
			-webkit-transform: skew(3deg,2deg); /* Safari and Chrome */
			-o-transform: skew(3deg,2deg); /* Opera */
			-moz-transform: skew(3deg,2deg); /* Firefox */
			left: auto;
			right: 10px;
		}
		.item-content {
			padding: 20px 30px 30px;
			background: #fff;
		}


	}
	.email-item {
		box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
		-o-box-shadow: 0px 0px 1px 1px  rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 0px 1px 1px  rgba(0,0,0,0.2);
		line-height: 1.5em;
		p:last-child {
			margin-bottom: 0;
		}
		.email-content {
			padding: 20px 30px 30px;
			background: #fff;
		}
	}
	.email-header {
		border-bottom: 1px solid #ccc;
		padding-bottom: 15px;
		margin-bottom: 30px;
		font-size: 14px;
		line-height: 20px;
	}
	.email-from {
		font-weight: bold;
	}
	.email-to,
	.email-date {
		color: #888;
	}
	.email-to{
		display: none˝;
	}
	.new-group {
		margin-top: 160px;
	}
	
		
}

.craigslist-item {
	font-family: Times,serif;
	border: 3px solid #ccc;
	a, .faux-link {
		color: #00F;
		text-decoration: underline;
	}
	button {
		height: 18px;
		font-size: 11px;
		line-height: 6px;
	}
	.main-image img {
		max-width: 400px;
	}
	#pagecontainer {
		overflow: hidden;
	}
	#pagecontainer > header,
	.post .posting > header,
	footer {
	    line-height: 1em;
	    min-height: 1.1em;
	    background: #eee;
	    padding: 5px 0;
	    font-family: sans-serif;
	}
	#pagecontainer > header {
	    margin-bottom: 1em;
	    border-bottom: 1px #ccc solid;
	}
	#pagecontainer > header .contents {
	 
	    margin: 0 auto;
	    position: relative;
	    min-height: 24px;
	    line-height: 24px;
	    padding: 0 8px;
	}
	#pagecontainer header .crumb {
	    margin-right: 5px;
	}
	.mapAndAttrs {
		float: right;
		img {
			width: 280px;
		}
	}
	.postingtitle {
		font-weight: bold;
		font-weight: 22px;
	}
	.mapaddress {
		font-size: 13px;
		margin-top: 5px;
	}
	.blurbs {
		font-size: 13px;
		margin-top: 30px;
		li {
			line-height: 16px;
		}
		
	}


}

.screenshot-item {
	@include box-shadow(1px 1px 11px 2px rgba(0,0,0,0.3));
	@include border-radius(6px);
	margin-bottom: 30px;
}

.p-miami-fiance {
	.columns img {
		width: 100%;
	}
}