// /* ========================================================
//   Animate Found Photos
// =========================================================== */

// $icons-animate-found-photos: sprite-map("icons-animate-found-photos/*.png");
// @each $i in sprite_names($icons-animate-found-photos) {
// 	.animate-fp-thumb-#{$i} {
// 		&:before,
// 		&:after {
// 			@include icons-animate-found-photos-sprite(#{$i});
// 			background-position: sprite-position($icons-animate-found-photos, #{$i}, $offset_x: 0, $offset_y: 1px, $use-percentages: true);
// 		} 
// 	}
// }


// .animate-fp-thumb {
// 	display: block;
// 	height: 0;
//     padding-bottom: 99%;
//     width: 100%;
//     position: relative;
//     background-color: #eee;
//     &:before,
// 	&:after {
// 		content: '';
//     	height: 100%;
//     	width: 100%;
//     	position: absolute;
//     	background-size: 200%;
//     	left: 0;
//     	top: 0;
// 	} 

//     &:after {
//     	background-position-x: 100%;
//     	opacity: .5;

// 	    -webkit-transition: all 1s ease-in-out;
// 	    -moz-transition: all 1s ease-in-out;
// 	    -o-transition: all 1s ease-in-out;
// 	    -ms-transition: all 1s ease-in-out;
// 	    transition: all 1s ease-in-out;
	    
// 	    -webkit-animation-direction: normal;
// 	    -webkit-animation-duration: 2s;
// 	    -webkit-animation-iteration-count: infinite;
// 	    -webkit-animation-name: blink;
// 	    -webkit-animation-timing-function: ease-in-out;
	    
// 		-moz-animation-direction: normal;
// 	    -moz-animation-duration: 2s;
// 	    -moz-animation-iteration-count: infinite;
// 	    -moz-animation-name: blink;
// 	    -moz-animation-timing-function: ease-in-out; 
// 	}
//  }
// // .animate-fp-thumb  {
// // 	.frames-4 {
// // 		&:before,
// //		&:after {
// //			content: '';
// //	    	height: 100%;
// //	    	width: 100%;
// //	    	position: absolute;
// //	    	background-size: 200%;
// //	    	left: 0;
// //	    	top: 0;
// //		} 

// //	    &:after {
// //	    	background-position-x: 100%;
// //	    	opacity: .5;

// //		    -webkit-transition: all 1s ease-in-out;
// //		    -moz-transition: all 1s ease-in-out;
// //		    -o-transition: all 1s ease-in-out;
// //		    -ms-transition: all 1s ease-in-out;
// //		    transition: all 1s ease-in-out;
		    
// //		    -webkit-animation-direction: normal;
// //		    -webkit-animation-duration: 2s;
// //		    -webkit-animation-iteration-count: infinite;
// //		    -webkit-animation-name: blink;
// //		    -webkit-animation-timing-function: ease-in-out;
		    
// //			-moz-animation-direction: normal;
// //		    -moz-animation-duration: 2s;
// //		    -moz-animation-iteration-count: infinite;
// //		    -moz-animation-name: blink;
// //		    -moz-animation-timing-function: ease-in-out; 
// //		}
// // 	}

    
// // }
// .p-animate-found-photos {
// 	.thumbnails-default {
// 		width: 100%;
// 		display: block;
// 	}
// 	.two.thumb-wrapper {
// 		width: 100%;
// 		display: block;
// 	}
// }
// @-webkit-keyframes blink {
//     0% {
//         opacity:1;
//     }
//     50% {
//         opacity:0;
//     }
//     100% {
//         opacity:1;
//     }
// }
// @-moz-keyframes blink {
//     0% {
//         opacity:1;
//     }
//     50% {
//         opacity:0;
//     }
//     100% {
//         opacity:1;
//     }
// }
// .on-the-way-to-work {
//     // width: 500px;

//     .animate-fp-thumb {
//     	display: block;
//     	width: 100%;
//     	border: 1px solid
//     }
//     .photos {
//     	position: relative;
// 		img {
// 		    width: 100%;
// 			&:not(:first-child) {
// 			    position: absolute;
// 			    left: 0;
// 			    top: 0;
// 			}
// 		}

// 	}
// 	.controls {
// 	    margin: 20px 0;
// 	}
// 	.speed-fade {
// 	    width: 100%;
// 	}

// }



// /* ========================================================
// 	Animations
// =========================================================== */
// @-webkit-keyframes rotate-block {
//   0%   {-webkit-transform: rotate(0deg);}
//   100% {-webkit-transform: rotate(360deg);}
// }