/* ========================================================
  Quote Wheels
=========================================================== */

.p-quote-wheels {
	.thumbnails-default {
		img {
			border: none;
			
		}
		
	}
		
}
.s-quote-wheels {
	.cutout-container {
		position: relative;
		.quote {
			position: absolute;
			
		}
	}
	.quote-list {
		list-style: none;
		> li {
			margin: 50px 0;
			text-align: center;
		}
		.qw-date {
			display: block;
			font-size: 12px;
		}
		.context {
			display: block;
			font-size: 12px;
			font-style: italic;
		}
	}
}