/* ========================================================
  Quote Wheels
=========================================================== */

.p-reply-to-spam {
	.screenshot {
		border: 1px solid $color-lines-2;
	}
}
